# python
__pycache__/
*.py[cod]

# config files
bot-config.yaml
config.yaml
json_ai_files/current_seed.txt

# saves
Save Backups/
tas_saves/ffx_000

# local and log files
CoreDump.dmp
FFXCutsceneRemover.exe
OUTPUT.TXT
logs/
none