__pycache__/
*.py[cod]
*.txt
none
config.yaml
Save Backups/
FFXCutsceneRemover.exe
tas_saves/ffx_000
tas_saves/ffx_001
tas_saves/ffx_020
tas_saves/ffx_021
tas_saves/ffx_023
tas_saves/ffx_024
tas_saves/ffx_025
tas_saves/ffx_027
tas_saves/ffx_028
tas_saves/ffx_029
tas_saves/ffx_030
tas_saves/ffx_031
tas_saves/ffx_034
tas_saves/ffx_035
tas_saves/ffx_036
tas_saves/ffx_037
tas_saves/ffx_038
tas_saves/ffx_039
tas_saves/ffx_040
tas_saves/ffx_041
tas_saves/ffx_042
tas_saves/ffx_043
tas_saves/ffx_044
tas_saves/ffx_047
tas_saves/ffx_048
tas_saves/ffx_050
tas_saves/ffx_100
tas_saves/ffx_101
tas_saves/ffx_103
tas_saves/ffx_104
tas_saves/ffx_105
tas_saves/ffx_107
tas_saves/ffx_142
tas_saves/ffx_143
tas_saves/ffx_144
