# Main gamestate and step to load
# "none", "Baaj", "Besaid", "Boat1", "Kilika", "Luca", "Miihen", "MRR"
# "Djose", "Moonflow", "Guadosalam", "Macalania", "Home", "rescue_yuna"
# "Gagazet", "Zanarkand", "Sin", "Nem_Farm"
gamestate     : "none" # valid values listed above
step_counter  : 1      # valid step_counter values are dependent on gamestate

# Logging
verbosity     : DEBUG  # Verbosity of log messages in the console.
                       # These are the valid levels: DEBUG, INFO, WARNING, ERROR, CRITICAL
                       # Full log will always be available in a file.

# RNG Seed (requires setting vars.set_seed: True)
rng_seed_num    : 160    # If starting a new run and using set_seed, use this RNG seed
use_favored_seed: False  # If starting a new run and not using set_seed, use a curated array of seeds

# Run configuration variables in vars.py
vars:
  # Important Values
  artificial_pauses    : False  # Set depending on hardware. True == less powerful hardware.
  csr_value            : True   # Set automatically on new game. For testing (loading a save file) set for your environment.
  nemesis_value        : False  # Set based on if you're doing any% (False) or Nemesis% (True)
  force_loop           : False  # After game is finished, start again on next seed.
  set_seed             : False  # If you are using Rossy's patch, set to True. Otherwise set to False
  kilika_skip          : True   # True == Tidus OD on Evrae instead of Seymour. New strat.
  perfect_aeon_kills    : False  # Before YuYevon, True is slower but more swag.
  attempt_djose        : False  # Try Djose skip? (not likely to succeed)
  legacy_soundtrack    : True   # use the original Soundtrack instead of arranged
  do_not_skip_cutscenes  : False  #            - Missing documentation -

  # Accessibility for blind
  skip_cutscene_flag  : True   #            - Missing documentation -
  skip_diag_flag      : True   # Set to same value as skip_cutscene_flag
  play_TTS_flag       : False  #            - Missing documentation -
  rails_trials        : True   #            - Missing documentation -
  rails_egg_hunt      : True   #            - Missing documentation -

  # Blitzball
  force_blitz_win       : False  #            - Missing documentation -
  blitz_loop           : False  # Loop on the same seed immediately after Blitzball.
  blitz_loss_force_reset : True   # True == reset after blitz loss
  blitz_win_value       : True   # No default value required
  blitz_overtime       : False  # Set to False, no need to change ever.
  blitz_first_shot_val   : False  #            - Missing documentation -
  oblitz_attack_val     : "255"  # Used for RNG manip tracking

  # Sphere grid
  full_kilik_menu       : False  # Default to False
  early_tidus_grid_val   : False  # Default False
  early_haste_val       : 1      # Default -1
  wakka_late_menu_val    : False  # Default False
  end_game_version_val   : 1      # Default 0

  # Equipment
  zombie_weapon_val     : 255    # Default 255
  l_strike_count        : 1      # Default 0

  # RNG Manip
  yellows             : 0      #            - Missing documentation -
  confirmed_seed_num    : 999    #            - Missing documentation -
  skip_zan_luck         : False  #            - Missing documentation -

  # Other
  new_game             : False  #            - Missing documentation -
  self_destruct        : False  # Default False
  ytk_farm             : 0      # Default to 0
  rescue_count         : 0      # Default to 0
  flux_overkill_var     : False  # Default to False
  try_ne_val            : True   # Based on
  # first_hits is still in vars.py
  ne_armor_val          : 255    # Default 255
  ne_battles           : 0      # Default to 0
  nea_zone             : 0      # Decides in which zone we charge Rikku OD after reaching Zanarkand.

  # Nemesis variables, unused in any%
  nem_ap_val            : 1      # Default to 1
  # area_results is still in vars.py
  # species_results is still in vars.py
  # original_results is still in vars.py
  yojimbo_index        : 1  #            - Missing documentation -
